---
layout: layouts/default
title: Inicio
path: home
---

<section class="relative flex flex-row items-center justify-center w-full py-12 mx-auto bg-primary">
  <div  class="flex items-center justify-center">
    <img src="/static/img/absurd/01.png" alt="bombillo en blanco y negro" class="w-auto pr-16 h-96">
  </div>
  <div>
    <h1 class="text-2xl tracking-wide lg:text-3xl text-secondary">
      <span class="text-white">Bienvenidos a</span>
      {{encabezado}}
    </h1>

    <p class="max-w-md mt-4 text-xl font-semibold leading-6 text-blue-50">
      {{subtitulo}}
    </p>
  </div>
</section>

<section class="container mx-auto mb-16">
  <h2 class="mt-8 text-center">Últimos artículos</h2>

  {% set postslist = collections.post %}
  {% include 'partials/post-list.njk'%}
</section>