---
layout: layouts/default
title: Inicio
path: home
---

<section class="relative flex flex-row items-center justify-center w-full mx-auto h-72 bg-primary">
  <div  class="absolute top-0 left-0 ml-48">
    <img src="/static/img/absurd/07.png" alt="bombillo en blanco y negro" class="w-auto h-64">
  </div>
  <div>
    <h1 class="text-4xl tracking-wide text-center lg:text-5xl text-secondary">
      {{encabezado}}
    </h1>

    <p class="max-w-md mt-4 text-lg font-semibold leading-6 text-center text-blue-50">
      {{subtitulo}}
    </p>
  </div>
  <div  class="absolute bottom-0 right-0 mr-12">
    <img src="/static/img/absurd/05.png" alt="bombillo en blanco y negro" class="w-auto h-48">
  </div>
</section>

<section class="container mx-auto mb-16">
  <h2 class="mt-8 text-center">Últimos artículos</h2>


  {% set postslist = collections.post %}
  {% include 'partials/post-list.njk'%}
</section>
