{% extends "layouts/default.njk" %}

{% block head %}
  <meta name="description" content="{{ description }}">
  <meta name="keywords" content="{{ keywords }}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{settings.url}}{{ cover }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="{{settings.url}}{{ cover }}">
{% endblock %}

{% block content %}
  {% set featuredPost = collections.featuredPosts | first %}

  <section class="mt-16 flex flex-col md:flex-row-reverse w-full gap-8  place-content-center container">
    {% if featuredPost %}
      <div class="w-full mx-auto">
        <img height="650" eleventy:widths="auto" loading="lazy" parsing="async" class="w-fit object-cover object-center mx-auto aspect-[5/6] max-h-[650px] lg:max-h-[80dvh]" src="{{ featuredPost.data.cover }}" alt="Cover text">
      </div>
      <div class="w-full flex items-center justify-center">
        <div class="max-w-md mx-auto">
          <h1 class="text-center text-3xl md:text-4xl xl:text-7xl font-black text-neutral-900 font-headline">
            <a href="{{featuredPost.url}}">{{ featuredPost.data.title }}</a>
          </h1>
          <p class="mt-6 text-neutral-700 font-sans text-center text-base md:text-xl">
        Por  <a href="/autores/{{ featuredPost.data.author | slug }}">{{featuredPost.data.author}}</a>
          </p>
        </div>
      </div>
    {% else %}
      <div class="w-full mx-auto">
        <img class="w-fit object-cover object-center mx-auto aspect-[5/6] max-h-[650px] lg:max-h-[90vh]" src="{{ cover }}" alt="El parque amerindio">
      </div>
      <div class="w-full flex items-center justify-center">
        <div class="max-w-md mx-auto">
          <h1 class="text-center text-3xl md:text-4xl xl:text-5xl font-black text-neutral-900 font-headline">
          Parque Amarillo
        </h1>
        </div>
      </div>
    {% endif %}
  </section>

  <div class="container mt-32">
    <h2 class="text-xl font-headline font-bold lg:text-2xl">Artíc<span class="text-yellow-500">u</span>los r<span class="text-yellow-500">e</span>cientes</h2>
    <hr class="w-16 mt-4 border-b-2 border-accent">
  </div>
  <section class="container mt-16">
    {% set postslist = collections.post | filterFeatured %}
    {% include 'partials/post-list.njk'%}
  </section>
{% endblock %}