---
layout: layouts/default
---

<div class="container max-w-4xl px-6 mt-12">
  <h1 class="text-center">{{title}}</h1>

  <article class="mx-auto my-8 prose lg:prose-lg">
    {{ content | safe }}
  </article>
</div>