{% extends "layouts/default.njk" %}

{% block head %}
  <meta name="description" content="{{ description }}">
  <meta name="keywords" content="{{ keywords }}">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:label1" value="Por">
  <meta name="twitter:data1" value="{{author}}">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">

  <meta property="article:published_time" content="{{date | htmlDateString}}">
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:type" content="article">

  {% if cover %}
    {% set outputDir = './src' + cover %}
    {% ogImage outputDir,
    title,
    settings.url %}
  {% endif %}

{% endblock %}

{% block content %}
  <div class="container mt-16">
    {% if cover %}
      <div class="mb-8 w-full mx-auto max-w-4xl">
        <img class="object-cover object-center w-full aspect-video" src="{{ cover }}" alt="El camino a Isla Sigma">
        <p class="mt-2 text-center text-gray-600 text-xs [&>a]:text-primary">
          {{ cover_alt | safe }}
        </p>
      </div>
    {% endif %}
    <div class="w-full mx-auto max-w-[65ch] mt-16">
      <h1 class="font-bold text-4xl font-headline md:text-5xl text-neutral-900">{{title}}</h1>
      {% for auth in author %}
        <ul class="list-none mt-8">
          <li>
            {% if loop.first %}
              <span class="text-neutral-700 font-medium font-sans">Por</span>
            {% endif %}
            <a class="font-medium text-neutral-700 font-sans  hover:underline hover:text-neutral-600" href="/autores/{{auth | slug}}">
              {{auth}}
            </a>
            {% if not loop.last %}
              <span class="text-neutral-600">•</span>
            {% endif %}
          </li>
        </ul>
      {% endfor %}
      <p class="text-neutral-500 font-sans text-sm mt-2" datetime="{{ date }}">{{ date | readableDate }}</p>
      <hr class="w-16  my-8 border-b-2 border-accent"/>
      <article class="font-body my-16 prose-base lg:prose-lg  prose-a:font-semibold prose-a:underline">
        {{ content | safe }}
      </article>
      <hr class="w-16  my-8 border-b-2 border-accent"/>
    </div>
  </div>
{% endblock %}