---
title: "Autores"
subtitle: "nuestro índice"
permalink: /autores/
layout: layouts/default
---

<div class="container mt-12 max-w-4xl">
  <h1 class="font-bold text-4xl font-headline md:text-5xl text-neutral-900">{{ title }}</h1>
  <hr class="w-16  my-8 border-b-2 border-accent"/>
</div>
<div class="container mx-auto pb-16 max-w-4xl">
  {% for author in collections.authors | reverse %}
    <a href="/autores/{{author.data.slug}}" class="w-full mx-auto flex justify-between py-16 gap-8 border-b-2">
      <div class="flex gap-4 flex-col items-center">
        <img class="size-24 rounded-full object-cover object-center" src="{{author.data.avatar}}" alt="">
        <h2 class="text-xl font-bold text-center">
          {{ author.data.name }}
        </h2>
      </div>
      <div class="prose">
        {{ author.content | safe }}

      </div>
    </a>
  {% endfor %}
</div>