@import "tailwindcss";

@config '../../../tailwind.config.js';

/* @plugin "@tailwindcss/typography"; */

@theme {
  --font-sans: "Geist", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  --font-body: "Noto Serif", Georgia, Cambria, "Times New Roman", Times, serif;
  --font-cursive: "Cookie", Georgia, Cambria, "Times New Roman", Times, serif;
  --font-headline: "Zen Old Mincho", Georgia, Cambria, "Times New Roman", Times,
    serif;

  --color-text: var(--color-neutral-900);
  --color-body: var(--color-neutral-900);
  --color-accent: var(--color-yellow-400);

  /* colors: {white: "#fff", black: "#000",
    transparent: "transparent", current: "currentColor",
    text: colors.stone[600], background: "#fafaf9", primary: colors.yellow[500],
    secondary: "#04313c", muted: colors.stone[500], accent: colors.yellow[400],
    link: colors.yellow[600], highlight: colors.yellow[100],
    gray: colors.gray[800], body: colors.stone[600], }; */
}
@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
}

/* @plugin "@tailwindcss/typography"; */

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
