---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - nav
    - post
    - posts
    - tagList
  addAllPagesToCollections: true
layout: layouts/default
eleventyComputed:
  title: Tagged “{{ tag }}”
permalink: /tags/{{ tag | slug }}/
---

<section class="container mx-auto my-16">
  <h1 class="text-3xl text-center lg:text-4xl">{{ tag }}</h1>

  {% set postslist = collections[tag] %}
  <div class="-mx-4"></div>
  {% include 'partials/post-list.njk'%}

  <div class="w-full max-w-4xl px-2 mx-auto mt-12 md:px-0">
    <a class="font-semibold underline text-accent hover:text-primary focus:text-primary" href="{{ '/tags/' | url }}">Ver todas las categorías</a>
  </div>
</section>