<div class="flex flex-col w-full max-w-xl gap-8 px-2 mx-auto mt-8 md:px-0">
  {% for post in postslist | reverse %}
    <article class="flex flex-col justify-center w-full max-w-md even:items-end even:text-right even:ml-auto">
      <h3 class="mt-4">
        <a href="{{ post.url | url }}" class="postlist-link">{{post.data.title}}</a>
      </h3>
      {% for tag in post.data.tags | filterTagList %}
        {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="font-semibold text-pink-400 hover:text-pink-500">{{ tag }}</a>
      {% endfor %}
      <p class="mt-2 text-gray-600">
        {{post.data.description | truncate(150)}}
      </p>
    </article>
    <article class="flex flex-col justify-center w-full max-w-md even:items-end even:text-right even:ml-auto">
      <h3 class="mt-4">
        <a href="{{ post.url | url }}" class="postlist-link">{{post.data.title}}</a>
      </h3>
      {% for tag in post.data.tags | filterTagList %}
        {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
        <a href="{{ tagUrl | url }}" class="font-semibold text-pink-400 hover:text-pink-500">{{ tag }}</a>
      {% endfor %}
      <p class="mt-2 text-gray-600">
        {{post.data.description | truncate(150)}}
      </p>
    </article>
  {% endfor %}
</div>