<div class="grid w-full grid-cols-3 gap-4 px-2 mt-8 md:px-0">
  {% for post in postslist | reverse %}
    <article class="flex justify-center col-span-3 md:col-span-1">
      <div class="flex flex-col max-w-md">
        <div class="rounded-md">
          <img class="object-cover w-full h-56 rounded" src="{{ post.data.cover }}" alt="Un millenial con verduras en un campo verde">
        </div>
        <h3 class="mt-4">
          <a href="{{ post.url | url }}" class="postlist-link">{{post.data.title}}</a>
        </h3>
        {% for tag in post.data.tags | filterTagList %}
          {% set tagUrl %}/tags/{{ tag | slug }}/{% endset %}
          <a href="{{ tagUrl | url }}" class="font-semibold text-pink-400 hover:text-pink-500">{{ tag }}</a>
        {% endfor %}
        <p class="mt-2 text-gray-600">
          {{post.data.description | truncate(250)}}
        </p>
      </div>
    </article>
  {% endfor %}
</div>

